/* selector dan declaration */
p /*P sebagai selector */ {
    font-family: Arial; /* font - family sebagai declaration */
}
h1, h2, h3 {
    font-family: arial;
    color: yellow; /* color sebagai property dan yellow sebagai value */
}